{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/Error.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/Calendario.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/EstatisticasPage.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/JornaisPage.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/PesquisaResultados.css" />
{% endblock %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvg/dist/browser/canvg.min.js"></script>
    <script src="../static/js/DownloadImage.js"></script>
    <script src="../static/js/PesquisaResultados.js"></script>
    <script src="../static/js/Home.js"></script>
    <script src="../static/js/GetNomes.js"></script>
    <script src="../static/js/Paginacao.js"></script>
    <script src="../static/js/FormatarData.js"></script>
    <script src="../static/js/CriarGrafico.js"></script>
    <script src="../static/js/CheckboxJornais.js"></script>
    <script src="../static/js/FullScreen.js"></script>
    <script src="../static/js/Calendario.js"></script>
    <script src="../static/js/Grafo.js"></script>
    <script src="../static/js/cima.js"></script>
    <script src="../static/js/truncateText.js"></script>
    <script src="../static/js/FuncPesquisa.js"></script>
    
    <div id="loading2" class="loading-container">
      <img src="../static/images/loading.gif" alt="spinner" style="width=125px;height:125px">
    </div>
    

    <form class="search-container">
      <div class="search-wrapper">
        <input type="text" id="search-bar" placeholder="Portugal">
        <img class="search-icon" src="../static/images/lupa.png" alt="pesquisar">
      </div>
  
      <br>
      <div class="container-avancadas">
        <div class="radio-container" id="advanced-options">
          <div class="but-radio">
            <input type="radio" id="texto" name="userType" value="texto" checked>
            <label for="texto">Texto</label>
        
            <input type="radio" id="percentagem" name="userType" value="percentagem">
            <label for="percentagem">Análise</label>
            
            <input type="radio" id="imagem" name="userType" value="imagem">
            <label for="imagem">Imagem</label>
            
            <input type="radio" id="autor" name="userType" value="autor">
            <label for="autor">Autor</label>

            <input type="radio" id="grafo" name="userType" value="grafo">
            <label for="grafo">Grafo</label>
            
            <input type="checkbox" id="show-options-toggle">
            <label for="show-options-toggle" id="show-options-label" class="label-pesquisa-avancada" style="color:black">Pesquisa Avançada</label>
          </div>

          <div id="container-advanced-options" style="display: none;">

            <input type="checkbox" id="checkbox" class="checkbox-psqExata" style="display: none;">
            <label for="checkbox" style="margin-left:1px">Pesquisa Exata</label>

            <div class="data-hora-container">
              <label>Selecione a data:</label>
              <div class="date-range">
                <span>De:</span>
                <input type="text" id="datetimepickerMin" class="form-control">
                <div style="display:block" class="containerMax">
                  <span>Até:</span>
                  <input type="text" id="datetimepickerMax" class="form-control">
                </div>
              </div>
            </div>
            
            <div id="checkboxContainer" style="margin-left:1px"></div>

          </div>
        </div>
      </div>
    </form>
    
    <div id="error"></div>

    <div id="bottom-section">
      <div class="container-resultados">
        <div class="info-resultados">
          <div class="container-resultados-info">
            <p id="pesquisa-resultados"></p>
          </div>
          <div class="ordenar-div">
            <select id="ordem">
              <option value="ord" style="display:none">Ordenar por</option>
              <option value="ord">Relevância</option>
              <option value="desc">Mais Recente</option>
              <option value="asc">Mais Antigo</option>
            </select>
          </div>
        </div>
        </div>
      <div id="noticias-container"></div>
      
      <div id="imagens-container"></div>

      <div id="container-graficos"></div>
      <div>
        <div id="opt-grafo"></div>
        <div id="slider-container"></div>
        <div id="container-grafo"></div>
      </div>

      <div id="selectedOpt" data-selectedOption="{{ selectedOption }}"></div>

      <div id="pagination">
        <a id="recuar"><</a>
        <a id="primeiro">1</a>
        <span id="ellipsis1"><i class="fas fa-ellipsis-h"></i></span>
        <a id="um">1</a>
        <a id="dois">2</a>
        <a id="tres">3</a>
        <a id="quatro">4</a>
        <a id="cinco">5</a>
        <span id="ellipsis2"><i class="fas fa-ellipsis-h"></i></span>
        <a id="ultimo"></a>
        <a id="avancar">></a>
      </div>
    </div>
    
{% endblock %}